/* ----ELEMENTS---- */

    * { /* universal formatting */
        box-sizing: border-box;
        }

    body { /* default and background */
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        background-color: #c05d52;
        color: #073a5f;
        }
    
    aside { /*sidebar*/
            background-color: #241445;
            width: 200px;
            padding: 20px;
            font-size: smaller; /* this makes the sidebar text slightly smaller */
            }

    footer {
            background-color: #13092D; /* background color for footer */
            color: aquamarine;
            width: 100%;
            height: 80px;
            padding: 10px;
            text-align: center; /* this centers the footer text */
            font-size: smaller;
            }

    /*headers */

    h1 {
        color:#c05d52;
        font-size: 25px;
        }
    h2 {
            color:#56a49d;
            font-size: 25px;
            }
    strong { /* this styles bold text */
            color: #ED64F5;
            }

/* ----IDs----*/

    #container { /* what wraps your entire website */
                max-width: 900px; /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom and change the media query according to the comment! */
                margin: 0 auto; /* this centers the entire page */
                }
    /* if you want something (like the banner) to be Wider than the other elements, you will need to move that div outside of the container */
    
    #container a {/*for all links on your page EXCEPT for the navigation */
                color: #ED64F5;
                font-weight: bold;
                /* if you want to remove the underline you can add a line below here that says: text-decoration:none; */
                }

    #banner { /*top of page banner (logo)*/
                background-color: #56a49d;
                width: 100%;
                height: 150px;
                background-size: 100%;
            }
    
    #flex {
            display: flex;
            }
    
    #rightSidebar {
                    order: 3;
                    }        

    /* navigation section!! */
    #navbar {
            height: 40px;
            background-color: #13092D; /* navbar color */
            width: 100%;
            }

    #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
                }

    #navbar li {
                padding-top: 10px;
                }
        
    #navbar li a { /* navigation links*/
                color: #ED64F5; /* navbar text color */
                font-weight: 800;
                text-decoration: none; /* this removes the underline */
                }

    #navbar li a:hover { /* navigation link when a link is hovered over */
                        color: #a49cba;
                        text-decoration: underline;
                        }
                 

/* ----CLASSES----*/

    .welcome {
                background-color: #ffffff;
                flex: 1;
                padding: 20px;
                order: 2;
                }
    .extra {
            background-color: #5e4e8c;
            color: #ffffff;
            flex: 1;
            max-width: 900px;
            padding: 20px;
            order:2; /*The "order" value tells the CSS the order in which to display them.*/
            }
           
    .box {/* this is just a cool box, it's the darker colored one */
            background-color: #13092D;
            color: palegoldenrod;
            border: 1px solid #ED64F5;
            padding: 10px;
            }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        background-color: #5e4e8c;
        color: #ffffff;
        justify-content: center;
        }


    .column {/* Create 3 equal columns that sits next to each other */
            flex: 33%;
            max-width: 33%;
            padding: 4px 4px;
            }

    .column img {
                 margin-top: 8px;
                vertical-align: middle;
                justify-content: center;
                max-width: 300px;
                }

/* ----BELOW THIS POINT IS MEDIA QUERY---- */

/* so you wanna change the width of your page? by default, the container width is 900px.
in order to keep things responsive, take your new height, and then subtrack it by 100. use this new number as the 
"max-width" value below*/

 @media screen and (max-width: 800px) {
        #flex {
            flex-wrap: wrap;
            }

        aside {
                width: 100%;
                }

        .column {/* Responsive layout - makes a two column-layout instead of four columns */
                flex: 50%;
                ax-width: 50%;
                }

        main {
            order: 1;/* the order of the items is adjusted here for responsiveness!*/
            }

        #leftSidebar {
                    order: 2;
                    }

        #rightSidebar {
                        order: 3;
                        }

        #navbar ul {
                    flex-wrap: wrap;
                    }
            }

@media screen and (max-width: 600px) { /*same as above, for max width 600px)*/
        #flex {
            flex-wrap: wrap;
            }

        aside {
                width: 100%;
                }
        .column {/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
                flex: 100%;
                max-width: 100%;
                }
        main {
            order: 1;
            }

        #leftSidebar {
                    order: 2;
                    }

        #rightSidebar {
                        order: 3;
                        }

        #navbar ul {
                    flex-wrap: wrap;
                    }
            }  